.animation{
    width: 50px;
    height: 50px;
    background:yellow;
    animation-name: movement;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes movement{

    0%{
        top:0px;
        left: 0px;
        background: yellow;
            }
    10%{
        
        background: rgb(15, 48, 235);
            }
    25%{
        top:0px;
        left: 50px;
        background: rgb(235, 7, 7);
    
    50%{
        top: 500px;
        left: 500px;
        background: yellow;
    }
    75%{
        top: 500px;
        left:  0px;
        background: green;
    }
    100%{
        top: 0px;
        left:0px;
    }

}